memcached.host="memcached:11211"

db.default.url="jdbc:postgresql://postgres:5432/ballot_box"
db.default.driver="org.postgresql.Driver"
db.default.user=ballot_box
db.default.pass=mypassword

app.datastore.public="/tmp/ballot_box/datastore/public"
app.datastore.private="/tmp/ballot_box/datastore/private"

app.api.root="http://prod-up:8000"
app.datastore.root="http://localhost:8000"
app.datastore.ssl_root="https://localhost:14453"

app.eopeers.dir=/etc/eopeers/

elections.auth.secret=<PASSWORD>
elections.auth.expiry=60
elections.auth.admin_expiry=3600

ws.ssl {
  loose.disableHostnameVerification=true
  keyManager = {
    stores = [
      { type = "JKS", path = "/tmp/keystore.jks", password = "<PASSWORD>" }
    ]
  }
  trustManager = {
    stores = [
      { type = "JKS", path = "/tmp/keystore.jks", password = "<PASSWORD>" }
    ]
  }
}
