name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  unittest:
    runs-on: ubuntu-20.04
    container: ubuntu:20.04
    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: agora_elections
          POSTGRES_PASSWORD: mypassword
          POSTGRES_DB: agora_elections
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      memcached:
        image: memcached:latest
        ports:
        - 11211/udp
        # needed because the memcached container does not provide a healthcheck
        options: --health-cmd "timeout 5 bash -c 'cat < /dev/null > /dev/udp/127.0.0.1/11211'" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        apt update
        apt install -y openjdk-8-jdk-headless wget postgresql-client
        wget https://scala.jfrog.io/artifactory/debian/sbt-0.13.18.deb
        dpkg -i sbt-0.13.18.deb

    - name: Build
      run: |
        sbt clean stage

    - name: Set test data
      run: |
        cp conf/test.local.conf.example conf/test.local.conf
        mkdir -p /tmp/agora_elections/datastore/public
        mkdir -p /tmp/agora_elections/datastore/private
        cp -rf testdata/eopeers /etc
        cp -rf testdata/keystore.jks /tmp

    - name: tests
      run: sbt test
      env:
        PGSYSCONFDIR: testdata
